<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy - Create account.</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
   <header>
      <a class="home-link" href="/home">Pay My Buddy</a>
      <nav>
         <a class="link" href="/home">home</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/transfer">transfer</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/profile">profile</a>
         <a class="link" sec:authorize="isAnonymous()" href="/login">login</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/logout">logout</a>
      </nav>
   </header>
   <div class="main">
      <h2>Pay My Buddy,simple solution to send money to your buddies.</h2>
      <form action="#" th:action="@{/createAccount}" th:object="${logindto}" method="post">
         Enter your email:
         <input id="username" type="text" name="username" autocomplete="off" class=""
            placeholder="Email">
         Enter password:
         <input id="password" type="password" name="password" autocomplete="off" class=""
            placeholder="Password">
         <input type="submit" value="Submit" />
      </form>
   </div>
</body>
</html>