<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy - Create account.</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
   <header>
      <a class="home-link" href="/home">Pay My Buddy</a>
      <nav>
         <a class="link" href="/home">home</a>
         <a class="link" sec:authorize="isAuthenticated()"  href="/transfer">transfer</a>
         <a class="link" sec:authorize="isAuthenticated()"  href="/profile">profile</a>
         <a class="link" sec:authorize="isAnonymous()" href="/login">login</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/logout">logout</a>
      </nav>
   </header>
   <h2>Pay My Buddy,simple solution to send money to your buddies.</h2>
   <div class="create-account">
      <form action="#" th:action="@{/createAccount}" th:object="${logindto}" method="post">
         <p>
            Enter your email:
            <input type="text" th:field="*{username}" />
         </p>
         <p>
            Enter password::
            <input type="text" th:field="*{password}" />
         </p>
         <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
         </p>
      </form>
   </div>
</body>
</html>