<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy - Home</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
   <header>
      <a class="home-link" href="/home">Pay My Buddy</a>
      <nav>
         <a class="link" href="/home">Home</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/transfer">Transfer</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/profile">Profile</a>
         <a class="link" sec:authorize="isAnonymous()" href="/login">Login</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
      </nav>
   </header>
   <div class="main" id="home-main" sec:authorize="isAnonymous()">
      <h2>Pay My Buddy, simple solution to send money to your buddies.</h2>
      <div class="main-middle">
         Login your account here:
         <a class="log-a" href="/login">Sign in</a>
      </div>
      <div class="main-middle">
         Create an account:
         <a class="log-a" href="/createAccount">Sign up</a>
      </div>
      <div class="main-middle">
         <p>Connect with Google:</p>
         <a href="/oauth2/authorization/google">
            <img alt="Google button to connect" width="40px" th:src="@{images/googlelogo.jpeg}"
               src="../../static/images/googlelogo.jpeg}">
         </a>
      </div>
      <div class="main-middle">
         <p>Connect with Github:</p>
         <a href="/oauth2/authorization/github">
            <img alt="GitHub button to connect" width="40px" th:src="@{images/githublogo.png}"
               src="../../static/images/githublogo.png}">
         </a>
      </div>
   </div>
   <div class="main-middle" sec:authorize="isAuthenticated()">
      <h3>
         Welcome
         <span th:text="${dto.username}"></span>
         !
      </h3>
   </div>
</body>
</html>