<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy - New User</title>
</head>
<body>
   <nav>
      <a href="/home">home</a>
      <a href="/transfert">transfert</a>
      <a href="/profile">profile</a>
      <a sec:authorize="isAnonymous()" href="/login">login</a>
      <a sec:authorize="isAuthenticated()" href="/logout">logout</a>
   </nav>
   <div sec:authorize="isAnonymous()">
      <h2>Try to connect with your email and password to finalize the creation of your account here: </h2>
      <div class="login">
         <a href="/login">Login</a>
      </div>
   </div>
</body>
</html>