<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
   <header>
      <a class="home-link" href="/home">Pay My Buddy</a>
      <nav>
         <a class="link" href="/home">home</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/transfer">transfer</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/profile">profile</a>
         <a class="link" sec:authorize="isAnonymous()" href="/login">login</a>
         <a class="link" sec:authorize="isAuthenticated()" href="/logout">logout</a>
      </nav>
   </header>
   <div class="main">
   <p th:text="'Hello '+${dto.username} + ' !'"></p>
   <p th:text="'Your account balance: '+${dto.balance}">
      <div class="main-middle" th:if="${dto.bankAccountDto} == null">
         Registry your bank account here:
         <a  class="button" href="/profile/addBankAccount">Go</a>
      </div>
      <div class="profile-transfer" th:if="${dto.bankAccountDto } != null">
         <p>Add money from your bank account:</p>
         <form action="#" th:action="@{/profile/fromBank}" method="post">
            <input type="number" placeholder="enter amount" name="amount" />
            <input  class="button" type="submit" value="Receive money" />
         </form>
      </div>
      <div class="profile-transfer" th:if="${dto.bankAccountDto } != null">
         <p>Transfer money to your bank account:</p>
         <form action="#" th:action="@{/profile/toBank}" method="post">
            <input type="number" placeholder="enter amount" name="amount" />
            <input class="button" type="submit" value="Send money" />
         </form>
      </div>
      <div class="profile-transfer" th:if="${dto.bankAccountDto } != null">
         <p>You can delete your account bank here:</p>
         <form class="" action="#" th:action="@{/profile/deleteBankAccount}" method="post">
            <input class="button"  type="submit" value="Submit"  />
         </form>
      </div>
   </div>
</body>
</html>