<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
   <nav>
      <a href="/home">home</a> <a href="/transfert">transfert</a><a href="/profile">profile</a>
   </nav>
   <div class="">
      <p th:text="'Hello '+${dto.username} + ' !'"></p>
      <p th:text="'Your account balance: '+${dto.balance}">
      <p>
      <div sec:authorize="isAuthenticated()">
         Authenticated as <span sec:authentication="name"></span>
      </div>
      <div>
      <p>Add money from your bank account:</p>
      <button  ></button>
      </div>
   </div>
</body>
</html>