<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
      <a href="/home">home</a>
      <a href="/transfert">transfert</a>
      <a href="/profile">profile</a>
      <a sec:authorize="isAnonymous()" href="/login">login</a>
      <a sec:authorize="isAuthenticated()" href="/logout">logout</a>
   </nav>
   <div class="">
      <p th:text="'Hello '+${dto.username} + ' !'"></p>
      <p th:text="'Your account balance: '+${dto.balance}">
      <p>
         <!-- 
       <div sec:authorize="isAuthenticated()">
         Authenticated as
         <span sec:authentication="name"></span>
      </div>
  -->
      <div th:if="${dto.bankAccountDto} == null">
         Registry your bank account to send or receive money from your bank here:
         <a href="/profile/addBankAccount">Click</a>
      </div>
      <div th:if="${dto.bankAccountDto } != null">
         <p>Add money from your bank account:</p>
         <form action="#" th:action="@{/profile/fromBank}" method="post">
            <p>
               Enter amount to request from your
               <span th:text="${dto.bankAccountDto.bankName}"></span>
               account with number
               <span th:text="${dto.bankAccountDto.accountNumber}"></span>
               :
            </p>
            <input type="number" th:value="amount" name="amount" />
            <input type="submit" />
         </form>
         <form action="#" th:action="@{/profile/deleteBankAccount}" method="post">
            <p>You can delete your account bank here:</p>
            <input type="submit" />
         </form>
      </div>
   </div>
</body>
</html>