<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transfert Page</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="main">
      <nav>
         <a href="/home">home</a>
         <a href="/transfert">transfert</a>
         <a href="/profile">profile</a>
      </nav>
   </div>
   <div>
      <h1>Add a new connection with a buddy:</h1>
      <form th:action="@{/transfert/addbuddy}" method="post">
         <p>
            Enter the email of your buddy:
            <input type="text" th:value="buddy" name="buddy" />
            <input type="submit" />
         </p>
      </form>
   </div>
   <div>
      <table class="buddy-table">
         <thead>
            <tr>
               <th>My Buddies</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="buddy: ${dto.friendList}">
               <td th:text="${buddy}">Buddy:</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div>
      <table>
         <caption>Noms et valeurs des couleurs</caption>
         <tbody>
            <tr>
               <th scope="col">Nom</th>
               <th scope="col">Hexadécimal</th>
               <th scope="col">HSLa</th>
               <th scope="col">RGBa</th>
            </tr>
            <tr>
               <th scope="row">Turquoise</th>
               <td>
                  <code>#51F6F6</code>
               </td>
               <td>
                  <code>hsla(180, 90%, 64%, 1)</code>
               </td>
               <td>
                  <code>rgba(81, 246, 246, 1)</code>
               </td>
            </tr>
            <tr>
               <th scope="row">Ocre</th>
               <td>
                  <code>#F6BC57</code>
               </td>
               <td>
                  <code>hsla(38, 90%, 65%, 1)</code>
               </td>
               <td>
                  <code>rgba(246, 188, 87, 1)</code>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</body>
</html>