<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transfert Page</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<header>
		<a class="home-link" href="/home">Pay My Buddy</a>
		<nav>
			<a class="link" href="/home">home</a> <a class="link" sec:authorize="isAuthenticated()" href="/transfer">transfer</a>
			<a class="link" sec:authorize="isAuthenticated()" href="/profile">profile</a> <a class="link"
				sec:authorize="isAnonymous()" href="/login">login</a> <a class="link" sec:authorize="isAuthenticated()"
				href="/logout">logout</a>
		</nav>
	</header>
	<div class="main">
		<div class="main-top">
			<p>Send Money</p>
			<form action="#" th:action="@{/addConnection}" method="get">
				<input class="button2" type="submit" value="Add Connection" />
			</form>
		</div>
		<form class="main-middle" action="#" th:action="@{/transfer/payment}" method="post">
			<select name="buddy" th:object=${buddy}>
				<option value="" disabled selected>Select a buddy</option>
				<option th:each="b : ${userDto.myBuddies}" th:value="${b}" th:text="${b}"></option>
			</select> <input class="amount" type="number" th:object=${description} name="amount" placeholder="0€" /> <input
				class="description" type="text" th:object=${description} name="description" placeholder="description" /> <input
				class="pay-button button2" type="submit" value="Pay" />
		</form>
		<div class="main-bottom">
			<p>My Transactions</p>
			<table class="buddy-payment-table">
				<thead>
					<tr>
						<th>Buddy</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="payment: ${userDto.allBuddyPaymentDtoList}" th:object="${payment}"
						th:if="${payment.senderUsername} == ${userDto.username}">
						<td th:text="${payment.receiverUsername}"></td>
						<td th:text="${payment.description}"></td>
						<td th:text="${payment.amount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- 
  -->
</body>
</html>
