<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transfert Page</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="main">
      <nav>
         <a href="/home">home</a>
         <a href="/transfert">transfert</a>
         <a href="/profile">profile</a>
         <a sec:authorize="isAnonymous()" href="/login">login</a>
         <a sec:authorize="isAuthenticated()" href="/logout">logout</a>
      </nav>
   </div>
   <div>
      <h1>Add a new connection with a buddy:</h1>
      <form action="#" th:action="@{/transfert/connection}" method="post">
         <p>
            Enter the email of your buddy:
            <input type="text" th:value="buddy" name="buddy" />
            <input type="submit" />
         </p>
      </form>
   </div>
   <div class="payment">
      <h1>Pay a buddy:</h1>
      <form action="#" th:action="@{/transfert/payment}" method="post">
         <select name="buddy">
            <option value="select a buddy"></option>
            <option th:each="b : ${userDto.friendList}" th:value="${b}" th:text="${b}"></option>
         </select>
         <p>Amount:</p>
         <input type="number" th:value="amount" name="amount" />
         <input type="submit" />
      </form>
   </div>
   <div>
      <table class="buddy-table">
         <thead>
            <tr>
               <th>My Buddies</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="buddy: ${userDto.friendList}">
               <td th:text="${buddy}"></td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- 
  -->
</body>
</html>